<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <title>Sprouts!</title>
    <link href="css/sprouts.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <%= yield %>
    <script src="js/raphael-min.js"></script>
    <script src="js/sprouts.js"></script>
  </body>
</html>
